<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Doctorissimo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Doctorissimo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>
                            <div class="btn-group">
                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Manage Appointments
                                </button>
                                <div class="dropdown-menu">
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Appointments" asp-action="Index">Show all appointments</a>
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Appointments" asp-action="Create">Create new appointment</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="btn-group">
                                <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Manage Patients
                                </button>
                                <div class="dropdown-menu">
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Patients" asp-action="Index">Show all patients</a>
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Patients" asp-action="Create">Register new patient</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Manage Doctors
                                </button>
                                <div class="dropdown-menu">
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Doctors" asp-action="Index">Show all doctors</a>
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Doctors" asp-action="PatientsViewIndex">Show all doctors (patient view)</a>
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Doctors" asp-action="Create">Add new doctor</a>
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Doctors" asp-action="PatientSearchDoctors">Search doctors</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Manage Rooms
                                </button>
                                <div class="dropdown-menu">
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Rooms" asp-action="Index">Show all rooms</a>
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Rooms" asp-action="Create">Add new room</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Log in</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Doctorissimo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
