@using DAL.Models.ViewModels
@model DAL.Models.ViewModels.CreateAppointmentViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Appointment.AppointmentTime" class="control-label"></label>
                <input asp-for="Appointment.AppointmentTime" class="form-control" />
                <span asp-validation-for="Appointment.AppointmentTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Room" class="control-label"></label>
                <input asp-for="Appointment.Room" class="form-control" />
                <span asp-validation-for="Appointment.Room" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedDoctorId" class="control-label">Doctor</label>
                <select asp-for="SelectedDoctorId"
                        asp-items="@(new SelectList(Model.Doctors, "Id", "FullName"))" class="form-control">
                    <option>Please select a doctor</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
